<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student data</title>
</head>
<body>
<form th:action="@{/saveStudent}"  th:object="${student}" method="POST">
Name: <input type="text" th:field="*{name}"/>
Score: <input type="text" th:field="*{score}">
<input type="submit" value="Submit"></submit>
<input type="reset"></reset>

</form>
</body>
</html>